label {
  display: block;
  margin: 1em;
}

li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 2em;
  margin: 0.2em;
  border: 1px solid silver;
}

.possibleTransfer {
  background-color: hsl(100 100% 90%);
}

.transfer {
  background-color: hsl(100 100% 40%);
}

textarea {
  width: 40em;
  height: 5em;
}